.btn {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid;
  transition: all 0.5s ease;
}

.btn:active {
  transition: all 0.2s ease;
  transform: scale(0.95);
}

.btn-primary {
  border-radius: 100px;
  border-color: #ff9324;
  background-color: #ff9324;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #ff9324;
}

.btn-secondary {
  border-radius: 100px;
  border-color: transparent;
  background-color: #ffffff;
  color: #ff9324;
}

.btn-secondary:hover {
  border-radius: 100px;
  border-color: #ffffff;
  background-color: #ff9324;
  color: #ffffff;
}
