.btn {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  transition: all 0.5s ease;
  border-radius: 100px;
}

.btn:active {
  transition: all 0.2s ease;
  transform: scale(0.95);
}

.btn-primary {
  border-color: #ff9324;
  background-color: #ff9324;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #ff9324;
}

.btn-secondary {
  border-color: transparent;
  background-color: #ffffff;
  color: #ff9324;
}

.btn-secondary:hover {
  border-color: #ffffff;
  background-color: #ff9324;
  color: #ffffff;
}

@media (max-width: 576px) {
  .btn {
    padding: 5px 15px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
