.navbar {
  width: 100%;
  background: transparent;
  padding: 50px 0px 15px 0px;
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item a {
  color: #ffffff;
}

.nav-list.dark .nav-item a {
  color: #323232;
}

.nav-item {
  margin-left: 0px;
  font-size: 1.3rem;
  /* text-decoration: underline; */
  font-family: "Nunito sans";
  font-weight: 600;
}

.nav-item:last-child a {
  font-family: "Prompt", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

/* .nav-btn {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 0px #afafaf;
  position: relative;
  transition: all 0.5s ease;
}

.nav-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  background-image: url(/icons/menu-icon.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
} */

/* .nav-btn.active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  background-image: url(/icons/close-icon.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
}

.nav-group-mobile {
  display: none;
  transform: scale(0);
  transform-origin: 0 0;
  position: absolute;
  top: 100%;
  right: -100%;
  transition: all 0.3s ease-in;
} */

/* .nav-group-mobile.show {
  transform: scale(1);
  right: 0px;
  z-index: 10;
} */

/* @media (max-width: 767px) {
  .nav-group {
    display: none;
  }
  .nav-btn {
    display: block;
  }
  .nav-group-mobile {
    display: block;
  }
  .nav-group-mobile .nav-list {
    display: block;
    background-color: #f9f6f5;
    padding: 10px;
    min-width: 200px;
    height: 100vh;
  }
  .nav-item {
    margin: 0px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #ff9324;
  }

  .nav-item {
    margin-left: 0px;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
  }

  .nav-item:last-child button,
  .nav-item:last-child {
    margin-right: 0px;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: none;
    background: transparent;
  }
  .nav-item:last-child button {
    border: none;
  }
} */

@media (max-width: 767px) {
  .navbar {
    padding: 15px 0px;
  }
  /* .nav-container {
    padding: 0px 20px;
  } */
  .logo-container {
    width: 100px;
  }
  .nav-item:last-child a {
    font-size: 1.2rem;
  }
}
