.container {
  max-width: 1320px;
  width: 85vw;
  padding: 0px 10px;
  margin: 0px auto;
}

.container-xl {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
}

.header {
  position: relative;
  width: 100%;
}

.nav-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.close-btn {
  width: 30px;
  height: 30px;
  /* padding-right: 20px; */
  background-color: transparent;
  background-image: url("/icons/close_icon.svg");
  background-size: contain;
  background-position: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

/* @media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
} */

@media (max-width: 768px) {
  .container {
    max-width: 670px;
    width: 95vw;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    width: 100vw;
    padding: 0px 15px;
  }

  .container-xl {
    padding: 0px 15px;
  }
}

/* Slick slider styles */
.slick-prev:before,
.slick-next:before {
  color: black;
}
