.container {
  max-width: 1320px;
  width: 85vw;
  padding: 0px 10px;
  margin: 0px auto;
}

.container-xl {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
}

/* @media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
} */

@media (max-width: 768px) {
  .container {
    max-width: 670px;
    width: 95vw;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    width: 100vw;
  }
}
