/* Google Fonts - Nunito Sans, Poppins */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 14px;
  color: #323232;
}

/* @media (max-width: 767px) {
  :root {
    font-size: 12px;
  }
} */

/* @media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
} */

body {
  background-color: #f9f6f5;
}

a {
  color: #323232;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}
