.form-container {
  max-width: 300px;
}

.country-code-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.country-code-img {
  width: 30px;
}

.country-code-txt {
  padding: 0px 10px;
  border-right: 1px solid #171112;
}
